# exclude hidden R profile files
.Rproj.user

# vim lock files
*.swp

# exclude {renv} directory
renv/

# exclude snakemake housekeeping and logs
code/.snakemake
code/logs

code/sh/cactus

# exclude results by default
results/*

# exclude large data 
# (explicitly define tracked files)
data/*
!data/carnivora_ref_genomes.tsv
!data/carnivora_list.nwk
!data/maffilter_templ.txt
!data/topology.tree

